body {
  font-family: 'Roboto', sans-serif;
}

#container {
  width: 100%;
  height: 100%;
  margin: auto auto;
}

#container .transition, #container .slide {
  display: none;
  width: 100%;
  margin: auto auto;
}

#container .transition > div {
  display: none;
}
