body {
  font-family: 'Roboto', sans-serif;
}

#container {
  width: 100%;
  height: 100%;
  margin: auto auto;
}

#container .transition, #container .slide {
  display: none;
  width: 100%;
  margin: auto auto;
  text-align: center;
}

#container .transition > div {
  display: none;
}

/* Specifics */
#container .slide1 {
  width: 50%;
  text-align: center;
}
